@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
}

body{
font-family: 'Fredoka One', cursive;
font-family: 'Noto Sans JP', sans-serif;
}

.Wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.header{
  background-color:  rgb(128, 122, 122);
}

.select-year-area{
  background-color: aliceblue;
  width: 100%;
  padding-top: 2.2rem;
}

.select-year{
  display: block;
  font-size: 2rem;
  width: 20%;
  margin:0 auto;
}

.attention-text{
  font-size: 1rem;
}

.footer{
  background-color:  rgb(128, 122, 122);
}